Repository anhost77/server-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check, echo '❌ BLOCKED: .env files should not be committed!' && exit 1, echo '❌ BLOCKED: Private key files should not be committed!' && exit 1, echo '❌ BLOCKED: Credential files should not be committed!' && exit 1

feat(dashboard): Update dashboard (6 files), other (4 files)
  _bmad-output/feature-proposals/2026-01-27-mail-server-wizard.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  apps/dashboard/package.json
  apps/dashboard/src/components/mail/MailServerWizard.vue
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
  apps/dashboard/src/views/ServerSettingsView.vue
  apps/dashboard/vite.config.js.timestamp-1769514043685-eda5572f0b898.mjs
  pnpm-lock.yaml
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Update dashboard (3 files), other (1 files)
  apps/dashboard/src/App.vue
  apps/dashboard/src/components/mail/MailServerWizard.vue
  apps/dashboard/src/views/ServerSettingsView.vue
Due: none

feat(cp,dashboard): Update control-plane (1 files), dashboard (1 files), other (1 files)
  apps/control-plane/src/index.ts
  apps/dashboard/src/components/mail/MailServerWizard.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent,dashboard): Update agent (4 files), dashboard (1 files), other (1 files)
  apps/agent/package.json
  apps/agent/src/infrastructure/helpers.ts
  apps/agent/src/infrastructure/installers/services/mail.ts
  apps/agent/tsconfig.tsbuildinfo
  apps/dashboard/src/components/mail/MailServerWizard.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent): Update agent (3 files), other (1 files)
  apps/agent/package.json
  apps/agent/src/infrastructure/helpers.ts
  apps/agent/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Update dashboard (1 files), other (1 files)
  apps/dashboard/src/components/mail/MailServerWizard.vue
Due: none

feat(dashboard): Update dashboard (3 files), other (1 files)
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
  apps/dashboard/src/views/ServerSettingsView.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Update dashboard (2 files), other (1 files)
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Update dashboard (1 files), other (1 files)
  apps/dashboard/src/views/ServerSettingsView.vue
Due: none

feat(dashboard): Add collapsible wizard CTA card for mail section
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
  apps/dashboard/src/views/ServerSettingsView.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

fix(mail): Complete mail wizard configuration support
  apps/agent/src/infrastructure/index.ts
  apps/agent/src/infrastructure/installers/services/mail.ts
  apps/agent/src/infrastructure/templates/opendkim/KeyTable.conf
  apps/agent/src/infrastructure/templates/opendkim/SigningTable.conf
  apps/dashboard/src/components/mail/MailServerWizard.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent,docs): Update agent (1 files), docs (3 files), other (2 files)
  _bmad-output/feature-proposals/2026-01-27-mail-server-wizard.md
  _bmad-output/implementation-artifacts/8-distributed-mail-architecture.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/planning-artifacts/epics.md
  apps/agent/tsconfig.tsbuildinfo
Due: prettier --check

feat(dashboard): Update dashboard (1 files), other (1 files)
  apps/dashboard/src/components/databases/DatabaseServerWizard.vue
Due: none

feat(dashboard): Update dashboard (4 files), other (1 files)
  apps/dashboard/src/components/databases/DatabaseServerWizard.vue
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
  apps/dashboard/src/views/ServerSettingsView.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Update dashboard (2 files), other (1 files)
  apps/dashboard/src/components/databases/DatabaseServerWizard.vue
  apps/dashboard/src/views/ServerSettingsView.vue
Due: none

Path conditions:
  eslint --config .eslintrc.security.json --no-eslintrc: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --check: any of: *.{ts,tsx,js,jsx,json,md}
  echo '❌ BLOCKED: .env files should not be committed!' && exit 1: any of: *.env*
  echo '❌ BLOCKED: Private key files should not be committed!' && exit 1: any of: **/*.pem
  echo '❌ BLOCKED: Credential files should not be committed!' && exit 1: any of: **/credentials*.json
