Repository anhost77/server-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check, echo '❌ BLOCKED: .env files should not be committed!' && exit 1, echo '❌ BLOCKED: Private key files should not be committed!' && exit 1, echo '❌ BLOCKED: Credential files should not be committed!' && exit 1

fix(ci): Improve security check patterns precision
  .github/workflows/security-check.yml
  scripts/auto-commit.js
Due: prettier --check

fix(ci): Make dependency audit non-blocking
  .github/workflows/security-check.yml
Due: none

test
  apps/control-plane/.env.example
  apps/control-plane/src/billing/checkout.ts
  apps/control-plane/src/billing/index.ts
  apps/control-plane/src/billing/stripe.ts
  apps/control-plane/src/billing/subscription.ts
  apps/control-plane/src/billing/usage.ts
  apps/control-plane/src/billing/webhooks.ts
  apps/control-plane/src/providers/digitalocean.ts
  apps/control-plane/src/providers/hetzner.ts
  apps/control-plane/src/providers/index.ts
  apps/control-plane/src/providers/vultr.ts
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check, echo '❌ BLOCKED: .env files should not be committed!' && exit 1

test2
  _bmad-output/implementation-artifacts/6-1-assisted-ssh-installation-impl.md
  _bmad-output/implementation-artifacts/6-1-assisted-ssh-installation.md
  _bmad-output/implementation-artifacts/roadmap-2026-q1-q3.md
  _bmad-output/implementation-artifacts/security-agent-authentication.md
  apps/control-plane/data/cp-keys.json
  apps/control-plane/public/mcp-bridge.mjs
  packages/mcp-client/README.md
  packages/mcp-client/index.js
  packages/mcp-client/package.json
  scripts/auto-commit.js
Due: prettier --check

feat(agent,cp,shared,config): Update agent (1 files), control-plane (2 files), shared (1 files), config (1 files), other (3 files)
  apps/agent/tsconfig.tsbuildinfo
  apps/control-plane/src/db/schema.ts
  apps/control-plane/tsconfig.tsbuildinfo
  package.json
  packages/shared/tsconfig.tsbuildinfo
  scripts/auto-commit.js
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat: Update other (2 files)
  scripts/auto-commit.js
Due: prettier --check

feat(docs): Update docs (1 files), other (1 files)
  CLAUDE.md
Due: prettier --check

feat(agent): Update agent (2 files), other (1 files)
  apps/agent/src/execution.ts
  apps/agent/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(docs): Update docs (1 files), other (2 files)
  CLAUDE.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier --check

feat(docs): Update docs (1 files), other (2 files)
  _bmad-output/implementation-artifacts/7-7-multi-runtime-installer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: prettier --check

feat(agent,cp,dashboard,shared,docs): Update agent (4 files), control-plane (5 files), dashboard (3 files), shared (2 files), docs (2 files), other (2 files)
  CLAUDE.md
  _bmad-output/implementation-artifacts/7-7-multi-runtime-installer.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  apps/agent/package.json
  apps/agent/src/index.ts
  apps/agent/src/infrastructure.ts
  apps/agent/tsconfig.tsbuildinfo
  apps/control-plane/public/agent-bundle.tar.gz
  apps/control-plane/public/install.sh
  apps/control-plane/src/index.ts
  apps/control-plane/src/ssh/SSHSessionManager.ts
  apps/control-plane/tsconfig.tsbuildinfo
  apps/dashboard/src/App.vue
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
  packages/shared/src/index.ts
  packages/shared/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Add server deletion feature with agent shutdown
  CLAUDE.md
  _bmad-output/implementation-artifacts/7-9-server-deletion-feature.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  apps/agent/src/index.ts
  apps/control-plane/src/index.ts
  apps/dashboard/src/App.vue
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/fr.ts
  packages/shared/src/index.ts
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(cp,dashboard): Update control-plane (1 files), dashboard (6 files), other (2 files)
  apps/control-plane/src/index.ts
  apps/dashboard/src/i18n/locales/de.ts
  apps/dashboard/src/i18n/locales/en.ts
  apps/dashboard/src/i18n/locales/es.ts
  apps/dashboard/src/i18n/locales/fr.ts
  apps/dashboard/src/i18n/locales/it.ts
  apps/dashboard/src/views/ServerSettingsView.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent,dashboard): Update agent (1 files), dashboard (1 files), other (2 files)
  apps/agent/src/infrastructure.ts
  apps/dashboard/src/views/ServerSettingsView.vue
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent): Update agent (1 files), other (2 files)
  apps/agent/src/infrastructure.ts
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dashboard): Update dashboard (1 files), other (2 files)
  apps/dashboard/src/views/ServerSettingsView.vue
Due: none

feat(agent): Update agent (3 files), other (2 files)
  apps/agent/src/infrastructure.ts
  apps/agent/src/infrastructure/credentials.ts
  apps/agent/src/infrastructure/detection/databases.ts
  apps/agent/src/infrastructure/detection/index.ts
  apps/agent/src/infrastructure/detection/runtimes.ts
  apps/agent/src/infrastructure/detection/services.ts
  apps/agent/src/infrastructure/detection/system.ts
  apps/agent/src/infrastructure/helpers.ts
  apps/agent/src/infrastructure/index.ts
  apps/agent/src/infrastructure/installers/databases.ts
  apps/agent/src/infrastructure/installers/runtimes.ts
  apps/agent/src/infrastructure/installers/services/backup.ts
  apps/agent/src/infrastructure/installers/services/ftp.ts
  apps/agent/src/infrastructure/installers/services/index.ts
  apps/agent/src/infrastructure/installers/services/mail.ts
  apps/agent/src/infrastructure/installers/services/monitoring.ts
  apps/agent/src/infrastructure/installers/services/network.ts
  apps/agent/src/infrastructure/installers/services/system.ts
  apps/agent/src/infrastructure/types.ts
  apps/agent/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent,cp): Update agent (5 files), control-plane (1 files), other (2 files)
  apps/agent/src/infrastructure/installers/services/mail.ts
  apps/agent/src/infrastructure/installers/services/network.ts
  apps/agent/src/infrastructure/installers/services/system.ts
  apps/agent/src/infrastructure/template-manager.ts
  apps/agent/tsconfig.tsbuildinfo
  apps/control-plane/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(agent): Update agent (4 files), other (2 files)
  apps/agent/package.json
  apps/agent/src/infrastructure/template-manager.ts
  apps/agent/src/infrastructure/templates/bind9/named.conf.options.conf
  apps/agent/src/infrastructure/templates/clamav/clamd.conf
  apps/agent/src/infrastructure/templates/dovecot/local.conf
  apps/agent/src/infrastructure/templates/fail2ban/jail.local.conf
  apps/agent/src/infrastructure/templates/haproxy/haproxy.cfg.conf
  apps/agent/src/infrastructure/templates/nginx/proxy-pass.conf
  apps/agent/src/infrastructure/templates/nginx/server-block.conf
  apps/agent/src/infrastructure/templates/opendkim/KeyTable.conf
  apps/agent/src/infrastructure/templates/opendkim/SigningTable.conf
  apps/agent/src/infrastructure/templates/opendkim/TrustedHosts.conf
  apps/agent/src/infrastructure/templates/opendkim/opendkim.conf
  apps/agent/src/infrastructure/templates/postfix/main.cf.conf
  apps/agent/src/infrastructure/templates/postfix/master.cf.spf.conf
  apps/agent/src/infrastructure/templates/redis/redis.conf.security.conf
  apps/agent/src/infrastructure/templates/rspamd/antivirus.conf
  apps/agent/src/infrastructure/templates/rspamd/worker-proxy.inc.conf
  apps/agent/src/infrastructure/templates/ufw/rules.conf
  apps/agent/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

feat(dx): Add dev server start/stop scripts
  CLAUDE.md
  start-dev.bat
  start-dev.ps1
  stop-dev.bat
  stop-dev.ps1
Due: prettier --check

feat(agent): Update agent (3 files), other (1 files)
  apps/agent/src/infrastructure/index.ts
  apps/agent/src/infrastructure/installers/services/mail.ts
  apps/agent/tsconfig.tsbuildinfo
Due: eslint --config .eslintrc.security.json --no-eslintrc, tsc --noEmit, prettier --check

Path conditions:
  eslint --config .eslintrc.security.json --no-eslintrc: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
  prettier --check: any of: *.{ts,tsx,js,jsx,json,md}
  echo '❌ BLOCKED: .env files should not be committed!' && exit 1: any of: *.env*
  echo '❌ BLOCKED: Private key files should not be committed!' && exit 1: any of: **/*.pem
  echo '❌ BLOCKED: Credential files should not be committed!' && exit 1: any of: **/credentials*.json
